.ultaifinity-cards {
  padding: 0 40px 40px;
  &__title {
    font-family: Archivo;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #6A737D;
    margin-bottom: 30px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 390px));
    gap: 20px;
  }

  &__card {
    width: 362px;
    height: 225px;
    padding: 22px 30px 27px;
    border-radius: 12px;
    background-size: cover !important;
    transition: transform 0.5s;
  
    &:hover {
      transform: scale(1.1);
    }
  
    &:active {
      transform: scale(0.9);
    }
  }
}
