{
  "rules": {
    "no-undef": "off",
    "react/prop-types": "off",
    "react/display-name": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
],
"plugins": [
  "@typescript-eslint"
],
"settings": {
  "react": {
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.53"
  }
},
"overrides": [
  {
      "files": ["*.js", "*.jsx"],
      "rules": {
          "@typescript-eslint/explicit-function-return-type": "off"
      }
  }
]
}
