//
// _table.scss
//

.table {
  th,
  td {
    font-weight: $font-weight-bold;
    text-align: center;
    vertical-align: middle;
    &:nth-child(2) {
      text-align: left;
    }
  }

  tr:hover {
    cursor: pointer;
  }
}

//Table centered
.table-centered {
  td,
  th {
    vertical-align: middle !important;
  }
}

.table-nowrap {
  th,
  td {
    white-space: nowrap;
  }
}
.table-txt {
  font-family: Archivo;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.25px;
  text-transform: capitalize;

  /* Dark / #334659 */

  color: #334659;
}

.table-th-txt {
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.25px;

  /* Dark / #334659 */

  color: #334659;
}
.table-td-img {
  display: inline-block;
  margin-right: 20px;
  width: 28px;
  height: 28px;
}

.table-td-img:hover {
  cursor: pointer;
}
